<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <title>新規登録</title>
</head>
<body>
    <div class="full-page">
        <h1>新規登録</h1>
        <form action="/register" method="POST">
            <label for="username">名前</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password" required>
        
            <button type="submit">登録</button>
        </form>
        <div id="error-message">
            <script>
                const urlParams = new URLSearchParams(window.location.search);
                const error = urlParams.get('error');
                if (error) {
                    document.getElementById('error-message').innerText = error;
                }
            </script>
        </div>
    </div>
    <p><a href="{{ url_for('login') }}">ログインはこちら</a></p>
</body>
</html>
